.topBar{
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: white;
    
    width: 100%;

}
.headerLogo img{
    margin: auto;
    display: block;
    width: 100%;
    height: 40px;
}
.headerLogo {
    width: fit-content;
    margin: auto;
}
.topBar h1{
    color: white;
    background-color: #607d8b;
    padding: 0.6em 0;
    text-align: center;
    line-break: anywhere;
    width: 100%;
}
.topNav{
    display: none;
}
.signOut_btn button[id='signin']{
    color: white;
    background-color: var(--primary-green);
    border: 0;
    border-radius: 10px;
    padding: 0.4em 0.9em;
    cursor: pointer;

}

.signOut_btn button[id='signout']{
    color: white;
    background-color: red;
    border: 0;
    border-radius: 10px;
    padding: 0.4em 0.9em;
    cursor: pointer;

}
@media screen and (min-width:900px) {
 
    .topNav {
        display: flex;
        align-items: center;
        padding: 0.4em 0;
        background-color: black;
        width: 100%;
        justify-content: space-around;
    }.pageLinks{
        display: flex;
        list-style: none;
        justify-content: space-between;
        width: 70%;
    }.pageLinks li a{
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        color: white;

    }
    .pageLinks li a:hover{
        color: var(--primary-green);
    }
    .pageLinks li p{
        font-size: 0.76rem;
    }
    .headerLogo img{
        height: 45px;
    }
}
@media screen and (min-width:1200px) {
.pageLinks{
    width: 50%;
}

}
