.formContainer{
    position: fixed;
    display: block;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    top: 35%;
    background-color: white;
    box-shadow: 1px 1px 20px #0004;
    padding: 2em 1.7em;
}

.formContainer *{
    display: block;
}

.formContainer input{
    width: 300px;
    height: 35px;
    margin: 0.2em 0;
    padding: 0 0 0 0.5em;
    border: 1px solid #0005;
    
}
.formContainer label{
    margin: 0.4em 0;
}
.formContainer button{
    margin: 0.6em 0;
}
.formContainer h1{
    text-align: center;
}