*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
a{
    text-decoration: none;
}
:root{
    --primary-green:#369d56;

}
/* canvas{
    height:400px
}

@media screen and (min-width:900px) {
    canvas{
        height:300px
    }
} */